{% extends 'app/dummy.html' %}


{% block title %}
    <title>School Detail</title>

{% endblock %}

{% block body_block %}

<center>
  <h1>Detail Information of {{schlobject.sname}}</h1>
  <h2>Name of the the school is {{schlobject.name}}</h2>
  <h2>principal ofthe school is {{schlobject.sprincipal}}</h2>
  <h2>location of the school is {{schlobject.slocation}}</h2>
  <

<h1>Student Detail Are</h1>  
<table border="2px">
  <tr>
    <th>Studnent Name</th>
    <th>Student Age </th>
  </tr>

  {% for st in schlobject.students.all %}
  <tr>
     <td>{{st.stname}}</td>
     <td>{{st.sage}}</td>
  </tr>
  {% endfor %}
</table>
</center>
